[project]
	description = Sample App to test CI capabilities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wojciech Pelka (WojciechPelka93)
[access "refs/for/refs/*"]
	read = group user/Wojciech Pelka (WojciechPelka93)
	push = group user/Wojciech Pelka (WojciechPelka93)
	label-Code-Review = -2..+2 group user/Wojciech Pelka (WojciechPelka93)
	label-Verified = -1..+1 group user/Wojciech Pelka (WojciechPelka93)
	rebase = group user/Wojciech Pelka (WojciechPelka93)
	removeReviewer = group user/Wojciech Pelka (WojciechPelka93)
	submit = group user/Wojciech Pelka (WojciechPelka93)
[access "refs/heads/*"]
	read = group user/Wojciech Pelka (WojciechPelka93)
	create = group user/Wojciech Pelka (WojciechPelka93)
	push = +force group user/Wojciech Pelka (WojciechPelka93)
	pushMerge = group user/Wojciech Pelka (WojciechPelka93)
	label-Code-Review = -2..+2 group Registered Users
	label-Verified = -1..+1 group Registered Users
	submit = group Registered Users
[access "refs/tags/*"]
	push = group user/Wojciech Pelka (WojciechPelka93)
	push = +force group user/Wojciech Pelka (WojciechPelka93)
